extends layout

block content
	div(class='ui page grid' id='entry-item')
		div(class='column')
			div(class='ui large positive message')
				div(class='content')
					div(class='header')='Judicial Watch Maldives'
					p="This is a page dedicated to keeping the affairs of the judiciary of the Maldives transparent and accountable to the Maldivian people. Judicial Watch advocates high standards of ethics and morality in the nation's courts and deems it an obligation to document and report on the abuse of judicial authority, and hold the judiciary publicly accountable by reaching out to the people."
	div(class='ui two column page grid')
		div(class='column')
			div(class='ui large positive message')
				div(class='content')
					div(class='header')='Judicial Watch Maldives'
					p="This is a page dedicated to keeping the affairs of the judiciary of the Maldives transparent and accountable to the Maldivian people. Judicial Watch advocates high standards of ethics and morality in the nation's courts and deems it an obligation to document and report on the abuse of judicial authority, and hold the judiciary publicly accountable by reaching out to the people."
		div(class='column')
			div(class='ui large positive message')
				div(class='content')
					div(class='header')='Judicial Watch Maldives'
					p="This is a page dedicated to keeping the affairs of the judiciary of the Maldives transparent and accountable to the Maldivian people. Judicial Watch advocates high standards of ethics and morality in the nation's courts and deems it an obligation to document and report on the abuse of judicial authority, and hold the judiciary publicly accountable by reaching out to the people."